 @media (min-width: 769px) {
      h1,
      h2 {
        text-align: center;
        direction: rtl;
      }

      p {
        text-align: right;
        direction: rtl;
        color: red;
        font-size: 20px;
        font-weight: 600;
        line-height: 1.7;
      }
       body {
        background: linear-gradient(to right, rgb(1, 61, 11), #e9c2bb);
      }
    .a{
        border: 2px solid black;
        margin: 100px;
        padding-bottom: 100px;
    }
    .b{
        border: 2px solid black;
         margin: 100px;
        padding: 100px;
    }
      .c{
        border: 2px solid black;
         margin: 100px;
        padding: 100px;
      }
    
    
    .d{
        border: 2px solid black;
         margin: 100px;
        padding: 100px;
    }
    .e{
        border: 2px solid black;
            margin: 100px;
        padding: 100px;
    }
    .f{
        border: 2px solid black;
         margin: 100px;
        padding: 100px;
    }
    .g{
        border: 2px solid black;
         margin: 100px;
        padding: 100px;
    }
    .h{
        border: 2px solid black;
         margin: 100px;
        padding: 100px;
    }
    .i{
        border: 2px solid black;
         margin: 100px;
        padding: 100px;
    }
    
    .j{
        border: 2px solid black;
         margin: 100px;
        padding: 100px;
    }
    .k{
        border: 2px solid black;
         margin: 100px;
        padding: 100px;
    }
    .l{
        border: 2px solid black;
         margin: 100px;
        padding: 100px;
    }
    .n{
        border: 2px solid black;
         margin: 100px;
        padding: 100px;
    }
      
    
    .m{
        border: 2px solid black;
         margin: 100px;
        padding: 100px;
    }
    .t{
        border: 2px solid black;
         margin: 100px;
        padding: 100px;
    }
    .r{
        border: 2px solid black;
         margin: 100px;
        padding: 100px;
    }
    .p{
        border: 2px solid black;
         margin: 100px;
        padding: 100px;
    }
  }
    
    /* موبايل */
@media (max-width: 768px) {
  body {
    background: linear-gradient(to right, rgb(25, 0, 255), #59dd0d);
  }

  h1 {
    font-size: 22px;
    text-align: center;
  }

  p {
    text-align: right;
    direction: rtl;
    font-size: 16px;
  }

  .container {
    width: 100%;
    padding: 10px;
  }

      ol {
        direction: rtl;
        color: rgb(255, 0, 0);
        font-size: 22px;
        font-weight: 700;
        line-height: 1.8;
      }
      .a{
        border: 2px solid black;
        margin: 100px;
        padding-bottom: 100px;
    }
    .b{
        border: 2px solid black;
         margin: 100px;
        padding: 100px;
    }
      .c{
        border: 2px solid black;
         margin: 100px;
        padding: 100px;
      }
    
    
    .d{
        border: 2px solid black;
         margin: 100px;
        padding: 100px;
    }
    .e{
        border: 2px solid black;
            margin: 100px;
        padding: 100px;
    }
    .f{
        border: 2px solid black;
         margin: 100px;
        padding: 100px;
    }
    .g{
        border: 2px solid black;
         margin: 100px;
        padding: 100px;
    }
    .h{
        border: 2px solid black;
         margin: 100px;
        padding: 100px;
    }
    .i{
        border: 2px solid black;
         margin: 100px;
        padding: 100px;
    }
    
    .j{
        border: 2px solid black;
         margin: 100px;
        padding: 100px;
    }
    .k{
        border: 2px solid black;
         margin: 100px;
        padding: 100px;
    }
    .l{
        border: 2px solid black;
         margin: 100px;
        padding: 100px;
    }
    .n{
        border: 2px solid black;
         margin: 100px;
        padding: 100px;
    }
      
    
    .m{
        border: 2px solid black;
         margin: 100px;
        padding: 100px;
    }
    .t{
        border: 2px solid black;
         margin: 100px;
        padding: 100px;
    }
    .r{
        border: 2px solid black;
         margin: 100px;
        padding: 100px;
    }
    .p{
        border: 2px solid black;
         margin: 100px;
        padding: 100px;
    }
  }